.body {
  width: 100%;
  max-width: 625px;
  text-align: left;

  .title {
    margin-left: 5px;
    font-family: var(--font-family-secondary);
  }

  .task {
    padding: 10px;
    resize: none;
    width: 625px;
    box-shadow: none;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: left;
    margin-top: 5px;
  }

  .taskName {
    height: 85px;
  }

  .descriptionBlock {
    margin-top: 17px;
  }

  .taskDescription {
    height: 134px;
  }

  .saveButton {
    margin-top: 74px;
    margin-left: 42px;
  }
}
