@import '@/styles/mixins';

//variants ========================================================================

.body {
  @include typography($fs: var(--font-size-m));
  cursor: default;
}

.body2 {
  @include typography($fs: var(--font-size-xs));
  cursor: default;
}

.status {
  @include typography($fs: var(--font-size-xs), $lh: var(--line-height-xs));
  cursor: default;
}

.error {
  @include typography($fs: var(--font-size-xs), $lh: var(--line-height-m));
  cursor: default;
}

.form {
  @include typography($fs: var(--font-size-s), $lh: var(--line-height-m));
  cursor: default;
}

//colors ================================================================================
.primary {
  color: var(--color-light-100);
}

.secondary {
  color: var(--color-dark-600);
}

.error {
  color: var(--color-error);
}

.form {
  color: var(--color-dark-500);
}
