@import '@/styles/mixins';

//variants ========================================================================

.body {
  @include typography($fs: var(--font-size-m));
}

.body2 {
  @include typography($fs: var(--font-size-xs));
}

.status {
  @include typography($fs: var(--font-size-xs), $lh: var(--line-height-xs));
}

.error {
  @include typography($fs: var(--font-size-xs), $lh: var(--line-height-m));
}

.form {
  @include typography($fs: var(--font-size-s), $lh: var(--line-height-m));
}

//colors ================================================================================
.primary {
  color: var(--color-light-100);
}

.secondary {
  color: var(--color-dark-600);
}

.error {
  color: var(--color-error);
}

.form {
  color: var(--color-dark-300);
}
