.app {
  display: grid;
  margin: 0 auto;
  max-width: 1600px;
  //overflow: hidden;
  grid-template-areas:
    'navbar header'
    'navbar content';
  grid-template-rows: 65px 1fr;
  grid-template-columns: 95px 1fr;
}

.content {
  grid-area: content;
}
